{% extends "layout.html" %}
{% block title %}
My TweetApp
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Welcome to My Django Project</h1>

    <div class="card shadow-sm mx-auto" style="max-width: 600px;">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">
                {% if form.instance.pk %}
                    Edit Tweet
                {% else %}
                    Create Tweet
                {% endif %}
            </h4>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid">
                    <button class="btn btn-warning mt-3" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
